BBM-Business-Card-Reader/pkgs/Wadl/AddanitemtoSharePointandsendanemail.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="AddanitemtoSharePointandsendanemail" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Add an item to SharePoint and send an email" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Createitem_SiteAddress_def" />
      <string name="ManualTriggerInput_Createitem_ListName_def" />
      <string name="ManualTriggerInput_Createitem_Item_def" />
      <string name="ManualTriggerInput_Sendanemail_To_def" />
      <string name="ManualTriggerInput_Sendanemail_Subject_def" />
      <string name="ManualTriggerInput_Sendanemail_Body_def" />
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <object name="ManualTriggerInput">
        <property name="Createitem_SiteAddress" type="string" />
        <property name="Createitem_ListName" type="string" />
        <property name="Createitem_Item" type="string" />
        <property name="Sendanemail_To" type="string" />
        <property name="Sendanemail_Subject" type="string" />
        <property name="Sendanemail_Body" type="string" />
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="text_3" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Createitem_SiteAddress" path="/Createitem_SiteAddress" type="xs:string" required="true" />
            <param style="plain" name="Createitem_ListName" path="/Createitem_ListName" type="xs:string" required="true" />
            <param style="plain" name="Createitem_Item" path="/Createitem_Item" type="xs:string" required="true" />
            <param style="plain" name="Sendanemail_To" path="/Sendanemail_To" type="xs:string" required="true" />
            <param style="plain" name="Sendanemail_Subject" path="/Sendanemail_Subject" type="xs:string" required="true" />
            <param style="plain" name="Sendanemail_Body" path="/Sendanemail_Body" type="xs:string" required="true" />
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Company" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="Name" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="Assine" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string" required="true">
              <doc title="Comments" />
            </param>
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>